<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/newcard" method="post">
        <label>
          Name:
          <input name="text" autocomplete="name" />
        </label>
        <label  for="color-picker">Color:</label>
        <input name="color" type="color" value="#ff0000" id="color-picker" />
        <button>Save</button>
      </form>
</body>
</html>